@font-face {
    font-family: 'dogica';
    src: url('./fonts/dogica-webfont.woff2') format('woff2'),
    url('./fonts/dogica-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'dogica';
    src: url('./fonts/dogicabold-webfont.woff2') format('woff2'),
    url('./fonts/dogicabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.preload {
    opacity: 0;
}

#active {
    opacity: 100%;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

#active-box {
    top: 50%;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

body {
    font-family: "dogica", sans-serif;
    background-color: #8774a1;
    line-height: 1.2;
}

#myVideo {
    position: fixed;
    right: 0;
    top: -20%;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    user-select: none;
}

.outline { /* old I just made it invis cuz I'm too lazy to remove */
    display: flex;
    border-radius: 20px;
    width: 390px;
    height: 540px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
    .outline {
        transform: translate(-50%, -50%) scale(0.8);
        top: 52%;
        left: 50%;
        position: absolute;
        width: 390px;
        height: 540px;
        transform-origin: center center;
    }
}


.main-box {
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(203, 194, 239, 1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 380px;
    height: 525px;
    margin: auto;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 15px 0;
    margin: 0 auto;
    gap: 15px;
    justify-content: center;
}

.navbar a {
    background-color: #EFC9DE;
    color: #6C5081;
    font-size: 7px;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px 13px;
    box-shadow: 3px 3px #b495be;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition-duration: 0.1s;
}

.navbar a:hover {
    background-color: #c6a8b8;
    transition-duration: 0.1s;
}

.divider {
    background-color: #b495be;
    margin: 5px auto;
    border-radius: 3px;
    width: 300px;
    height: 3px;
}

.desc {
    display: flex;
    flex-direction: column;
    height: 406px;
    padding: 15px 30px;
    gap: 25px 15px;
}

.desc p {
    font-size: 10px;
    color: #6C5081;
}

.header {
    display: flex;
    height: 145px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title {
    color: #6C5081;
    margin: 0 auto;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 2px
}

.links p {
    margin: 0;
    padding: 0;
    font-size: 8px;
}

.links a {
    color: #6C5081;
}

.buttons {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.buttons li {
    display: flex;
}

.buttons a {
    display: flex;
    color: #6b5180;
    margin: 0 auto;
    width: 350px;
    border-radius: 50px;
    text-decoration: none;
    justify-content: space-between;
}

.buttons img {
    margin: auto 0;
    padding-left: 10px;
    width: 20px;
    height: 20px;
}

.buttons p {
    margin: 0;
    padding: 15px 10px;
    font-size: 10px;
    font-weight: 700;
}

.buttons a {
    transition-duration: 0.1s;
}

.insta {
    background-color: #9b9ad6;
}

.insta:hover {
    background-color: #b9b8e2;
}

.twitter {
    background-color: #b4a0db;
}

.twitter:hover {
    background-color: #cbbde6;
}

.tiktok {
    background-color: #c5a7dd;
}

.tiktok:hover {
    background-color: #d6c1e7;
}

.kofi {
    background-color: #d2acdf;
}

.kofi:hover {
    background-color: #e0c5e9;
}

.footer {
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #6C5081;
    opacity: 0.5;
    font-size: 8px;
}

.footer a {
    color: #a27ac1;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
